    .hero_section {
        width: 100%;
        height: 150px;
        border: 1px solid #DEE2E7;
        border-radius: 6px;
        margin: 20px auto 30px;
        padding: 16px 8px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 12px;
    }

    .hero_section .box {
        height: auto;
        width: 100%;
        display: flex;
    }

    .link {
        width: 100%;
        height: 2.5rem;
        text-decoration: none;
        color: #505050;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        /* padding-left: 10px;
        position: relative;
        left: 10px; */
        /* justify-content: center; */
        display: none;
        ;

    }

    /* .link:hover {
        background-color: #E5F1FF;
        border-radius: 6px;
    } */

    .hero_section .box2 {
        height: 180px;
        width: 100%;
        background-image: url("/public/images/Mask group.png");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        position: absolute;
        left: 0;
        top: 0
    }

    .hero_section .box2 .text {
        font-size: 28px;
        font-weight: 400;
        width: 17rem;
        height: 4.5rem;
        position: relative;
        /* top: 53px;
        left: 45px */
        top: 30px;
        left: 17px
    }

    .bold {
        font-size: 32px;
        font-weight: 700;
    }

    .link_btn {
        text-decoration: none;
        position: relative;
        top: -30px;
        left: 17px
    }

    .link_btn2 {
        text-decoration: none;
        position: relative;
        left: 10px
    }

    .box3 {
        width: 100%;
        height: 9.3rem;
        background-color: #E3F0FF;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 6px;
        display: none;
    }

    .box0 {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: relative;
        display: none;
        left: 50px;

    }

    .box4 {
        width: 100%;
        height: 5.9rem;
        color: #FFFFFF;
        display: none;
        border-radius: 6px;

    }

    .one {
        display: flex;
        align-items: center;
        gap: 9px;
        margin: 10px 0px 0px 10px;
    }

    .btext {
        width: 144px;
        position: relative;
        top: 16px;
        left: 16px;
    }

    .offer_section {
        width: 100%;
        height: 19rem;
        background-color: #FFFFFF;
        border: 1px solid #DEE2E7;
        border-radius: 6px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .offer_section .box1 {
        width: 100%;
        height: 100%;
        padding: 20px 0px 0px 20px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #DEE2E7;
    }

    .offer_section .offerone {
        font-size: 16px;
        font-weight: 600;
        color: #1C1C1C;
        position: relative;
        top: -15px
    }

    .offer_section .offertwo {
        color: #8B96A5;
        position: absolute;
        bottom: 10px
    }

    #timer {
        width: 40vw;
        height: 70%;
        position: relative;
        left: 90px;
        top: -5px
    }

    .offer_section .box2 {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


    }

    .Items {
        width: 100%;
        height: 16rem;
        margin: 20px auto;
        border: 1px solid #DEE2E7;
        border-radius: 6px;
        background-color: #FFFFFF;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .home {

        font-size: 20px;
        font-weight: 600;
        color: #1C1C1C;
        position: relative;
        top: -10px
    }

    .Items .box1 {
        width: 100%;
        height: 20%;
        padding: 20px 0px 0px 20px;
        position: absolute;
        top: 0;


        /* background-image: url("public/images/image 92.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    .Items .box1 .btn {
        text-decoration: none;
        position: absolute;
        top: 220px;
    }

    .Items .data {
        height: 100%;
        width: 60rem;
        position: absolute;
        top: 40px;
        overflow: scroll;
    }

    .Items .data .list {
        display: flex;
        align-items: center;
        list-style-type: none;
        box-sizing: border-box;
        margin: 40px 0px 0px 0px
    }

    .Items2 {
        /* width: 78rem;
        height: 16rem;
        margin: 20px auto;
        border: 1px solid #DEE2E7;
        background-color: #FFFFFF;
        display: flex; */
        width: 100%;
        height: 16rem;
        margin: 20px auto;
        border: 1px solid #DEE2E7;
        background-color: #FFFFFF;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .Items2 .box1 {
        width: 100%;
        height: 20%;
        padding: 10px 0px 0px 20px;
        position: absolute;
        top: 0;
    }

    .Items2 .box1 .btn {
        text-decoration: none;
        position: absolute;
        top: 220px;
    }

    .Items2 .data {
        height: 100%;
        width: 60rem;
        position: absolute;
        top: 40px;
        overflow: scroll;
    }

    .Items2 .data .list {
        display: flex;
        align-items: center;
        list-style-type: none;
        box-sizing: border-box;
        margin: 40px 0px 0px 0px
    }

    .supplier {
        width: 360px;
        height: 150px;
        border: 1px solid #DEE2E7;
        margin: 0px auto;
        background-image: url("/public/images/Group 982.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }

    .supplier .left {
        width: 250px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0px 0px 20px;
        text-align: justify;
    }

    .supplier .left .L_span {
        width: 10px;
        height: 20px;
        font-size: 12px;
        font-weight: 400;
    }

    .right {
        width: 30.6rem;
        height: 21.6rem;
        background-color: #ffffff;
        margin: 30px 30px 0px 0px;
        display: none;
    }

    .supplier .right .text {
        width: 332px;
        height: 28px;
        font-size: 20px;
        font-weight: 600;
        margin: 22px 0px 0px 20px
    }

    .supplier .right #text {
        height: 40px;
        width: 440px;
        margin: 18px 0px 0px 20px;
        padding: 0px 0px 0px 10px
    }

    #Quantity {
        height: 40px;
        width: 206px;
        margin: 18px 0px 0px 20px;
        padding: 0px 0px 0px 10px
    }

    #pic {
        height: 40px;
        width: 111px;
        margin-left: 8px;
    }

    #detail {
        width: 440px;
        height: 73px;
        margin: 20px 0px 0px 20px;
        padding: 10px 0px 0px 10px
    }

    #btn {
        text-decoration: none;
        position: relative;
        top: 30px;
        left: 20.5px;
    }

    .Recomendation {
        height: 410px;
        width: 100%;
        margin: 30px auto 0px
    }

    .Recomendation .text {
        font-size: 24px;
        font-weight: 600;
        padding-left: 5px;
    }

    .Recomendation .item_grid {
        height: 300px;
        margin-top: 24px;
        overflow: scroll;
    }

    .Recomendation .item_grid .grid {
        display: flex;
        padding: 10px 0px 0px 10px;
        list-style-type: none;
        box-sizing: border-box;

    }

    .Recomendation .item_grid .grid .grid_container {
        width: 234px;
        height: 310px;
        border: 1px solid #DEE2E7;
        position: relative;
        left: -10.5px;
        background-color: #ffffff;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    }

    .Recomendation .item_grid .grid .grid_container .imgBox {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto
    }

    .Recomendation .item_grid .grid .grid_contaoner .imgBox .img {
        height: "100%";
        width: "100%";
    }

    .Recomendation .item_grid .grid .grid_container .price {
        margin: 14px 0px 0px 16px;
        font-weight: 600;
        color: black
    }

    .Recomendation .item_grid .grid .grid_container .desc {
        margin: 4px 0px 0px 16px;
        width: 186px;
        height: 53px;
        font-size: 14px;
        color: #8B96A5
    }

    #link {
        text-decoration: none;
    }

    .services {
        width: 78rem;
        height: 16rem;
        background-color: #FFFFFF;
        margin: 50px auto;
        padding-top: 10px;
        display: none;
    }

    .services .box {
        height: 210px;
        width: 100%;
        margin-top: 24px;

    }

    .services .box .flex {
        list-style-type: none;
        display: flex;
        width: 100%
    }

    .services .box .flex .container {
        height: 212px;
        width: 312px;
        background-color: #ffffff;
        border: 1px solid #DEE2E7;

    }

    .services .box .flex .container .imgBox {
        height: 120px;
        width: 100%;
    }

    .services .box .flex .container .imgBox .img {
        width: 100%;
        height: 100%;
    }

    .services .box .flex .container .text {
        width: 215px;
        height: 44px;
        font-weight: 500;
        margin: 16px 20px;

    }

    .suppliers {
        height: 8.6rem;
        width: 78rem;
        margin: 0px auto;
        display: none;

    }

    .suppliers .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        gap: 15px 32px;
        margin: 10px 0px 0px 0px;
    }

    .suppliers .grid .container {
        width: 221px;
        height: 36px;
        display: flex;
        align-items: center;
        gap: 20px
    }

    @media (min-width:768px) and (max-width:1023.98px) {
        .hero_section {
            margin-bottom: 30px
        }

        .hero_section .box2 {
            height: 280px;
            width: 100%;
        }

        .offer_section {
            margin-top: 120px;
        }

        #timer {
            left: 300px;
        }

        .supplier {
            width: 80%;
            height: 400px;
        }

        .supplier .left {
            font-size: 32px;
            width: 450px;
            margin: 60px;
        }

        .supplier .left .L_span {

            font-size: 16px;
            font-weight: 400;
        }

    }

    @media (min-width:1024px) and (max-width:1279.98px) {
        .hero_section {
            height: 25rem;
            width: 90%;
            gap: 10px;

        }

        .hero_section .box {
            height: 100%;
            width: 150px;
            flex-direction: column;

        }

        .link {
            width: 100%;
            height: 2.5rem;
            text-decoration: none;
            color: #505050;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }

        .link:hover {
            background-color: #e5f1ff;
            border-radius: 6px;
        }

        .hero_section .box2 {
            height: 100%;
            width: 60vw;
            position: relative;
        }


        .box0 {
            height: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            position: relative;
            left: 5px;
        }

        .box3 {
            width: 100%;
            height: 9.3rem;
            background-color: #E3F0FF;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 6px;
            /* border: 2px solid red; */

        }

        .box4 {
            width: 100%;
            height: 6.2rem;
            color: #FFFFFF;
            border-radius: 6px;
            display: block;

        }

        .offer_section {
            width: 90%;
            height: 15rem;
            background-color: #FFFFFF;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
        }

        .offer_section .box1 {
            width: 285px;
            height: 100%;
            padding: 50px 0px 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            border-bottom: 1px solid #DEE2E7;
        }

        .offer_section .offerone {
            font-size: 16px;
            font-weight: 600;
            color: #1C1C1C;

        }

        .offer_section .offertwo {
            color: #8B96A5;
            position: relative;
        }

        #timer {
            width: 198px;
            height: 50px;
            left: 0;
            top: 0;
        }

        .offer_section .box2 {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            overflow: scroll;
        }

        .Items {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;

        }

        .Items .box1 {
            width: 220px;
            height: 100%;
            background-image: url("public/images/image 92.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .home {
            width: 100px;
            font-size: 20px;
            font-weight: 600;
            color: #1C1C1C;
            margin-top: 10px;
            position: relative;
        }

        .Items .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 18px
        }

        .Items .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            left: 0;
            overflow: unset;
        }

        .Items .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .Items2 {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;
        }

        .Items2 .box1 {
            width: 220px;
            height: 100%;
            padding: 20px 0px 0px 20px;
            background-image: url("public/images/image 98.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .Items2 .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 20px;
        }

        .Items2 .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            overflow: unset;
        }

        .Items2 .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 10px 0px 0px;
            display: block;
        }

        .Recomendation {
            width: 90%;
            height: 650px;
            margin: 30px auto 0px;
        }

        .Recomendation .item_grid {
            width: 100%;
            height: 100%;
            margin-top: 24px;
            overflow: hidden;
        }

        .Recomendation .item_grid .grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding: 10px 0px 0px 0px;
            gap: 10px 10px;
            list-style-type: none;
            box-sizing: border-box;
        }

        .Recomendation .item_grid .grid .grid_container {
            width: 100%;
            height: 310px;
            position: relative;
            left: 0;
        }

        .Recomendation .item_grid .grid .grid_container .imgBox {
            height: 70%;
            width: 100%;
        }

        .services {
            width: 90%;
            height: 17rem;
            display: block;
        }

        .services .box {
            height: 210px;
            width: 100%;
            margin-top: 24px;
            overflow: hidden;
        }

        .services .box .flex {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%
        }

        .services .box .flex .container {
            height: 212px;
            width: 100%;
        }

        .suppliers {
            height: 8.6rem;
            width: 90%;
            margin: 0px auto;
            display: block;
            overflow: hidden;

        }

        .suppliers .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            list-style-type: none;
            gap: 15px 32px;
            margin: 10px 0px 0px 0px;
        }

        .suppliers .grid .container {
            width: 221px;
            height: 36px;
            display: flex;
            align-items: center;
            gap: 20px
        }


    }

    @media (min-width:1280px) and (max-width:1439.98px) {
        .hero_section {
            height: 25rem;
            width: 90%;
            gap: 10px
        }

        .hero_section .box {
            height: 100%;
            width: 150px;
            flex-direction: column;

        }

        .link {
            width: 100%;
            height: 2.5rem;
            text-decoration: none;
            color: #505050;
            display: flex;
            align-items: center;
            padding-left: 5px;
        }

        .link:hover {
            background-color: #e5f1ff;
            border-radius: 6px;
        }

        .hero_section .box2 {
            height: 100%;
            width: 67%;
            position: relative;
        }


        .box0 {
            height: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            position: relative;
            left: 5px;
        }

        .box3 {
            width: 100%;
            height: 9.3rem;
            background-color: #E3F0FF;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 6px;
            /* border: 2px solid red; */

        }

        .box4 {
            width: 100%;
            height: 6.2rem;
            color: #FFFFFF;
            border-radius: 6px;
            display: block;
        }

        .hero_section .box2 .text {
            font-size: 28px;
            font-weight: 400;
            width: 17rem;
            height: 4.5rem;
            position: relative;
            /* top: 53px;
                    left: 45px */
            top: 70px;
            left: 45px
        }

        .link_btn {
            top: 20px;
            left: 45px
        }

        .offer_section {
            width: 90%;
            height: 15rem;
            background-color: #FFFFFF;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
        }

        .offer_section .box1 {
            width: 285px;
            height: 100%;
            padding: 50px 0px 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            border-bottom: 1px solid #DEE2E7;
        }

        .offer_section .offerone {
            font-size: 16px;
            font-weight: 600;
            color: #1C1C1C;

        }

        .offer_section .offertwo {
            color: #8B96A5;
            position: relative;
        }

        #timer {
            width: 198px;
            height: 50px;
            left: -5px;
            top: 0;
        }

        .offer_section .box2 {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        .Items {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;

        }

        .Items .box1 {
            width: 220px;
            height: 100%;
            background-image: url("public/images/image 92.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .home {
            width: 100px;
            font-size: 20px;
            font-weight: 600;
            color: #1C1C1C;
            margin-top: 10px;
            position: relative;
        }

        .Items .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 18px
        }

        .Items .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            left: 0;
            overflow: unset;
        }

        .Items .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .Items2 {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;
        }

        .Items2 .box1 {
            width: 220px;
            height: 100%;
            padding: 20px 0px 0px 20px;
            background-image: url("public/images/image 98.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .Items2 .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 20px;
        }

        .Items2 .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            overflow: unset;
        }

        .Items2 .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 40px 0px 0px;
            display: block;
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 10px 0px 0px;
            display: block;
        }

        .Recomendation {
            width: 90%;
            height: 696px;
            margin: 30px auto 0px;
        }

        .Recomendation .item_grid {
            height: 300px;
            margin-top: 24px;
            overflow: unset;
        }

        .Recomendation .item_grid .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding: 10px 0px 0px 0px;
            gap: 10px 10px;
            list-style-type: none;
            box-sizing: border-box;
        }

        .Recomendation .item_grid .grid .grid_container {
            width: 100%;
            height: 310px;
            border: 1px solid #DEE2E7;
            position: relative;
            left: 0;
        }

        .Recomendation .item_grid .grid .grid_container .imgBox {
            height: 70%;
            width: 100%;
        }

        .services {
            width: 90%;
            height: 17rem;
            display: block;
        }

        .services .box {
            height: 210px;
            width: 100%;
            margin-top: 24px;
            overflow: hidden;
        }

        .services .box .flex {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%
        }

        .services .box .flex .container {
            height: 212px;
            width: 100%;
        }

        .suppliers {
            height: 8.6rem;
            width: 90%;
            margin: 0px auto;
            display: block;
            overflow: hidden;

        }

        .suppliers .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            list-style-type: none;
            gap: 15px 15px;
            margin: 10px 0px 0px 0px;
        }

        .suppliers .grid .container {
            width: 221px;
            height: 36px;
            display: flex;
            align-items: center;
            gap: 20px
        }
    }

    @media (min-width:1440px) {
        .hero_section {
            height: 25rem;
            width: 90%;
            gap: 10px
        }

        .hero_section .box {
            height: 100%;
            width: 200px;
            flex-direction: column;

        }

        .link {
            width: 100%;
            height: 2.5rem;
            text-decoration: none;
            color: #505050;
            display: flex;
            align-items: center;
            padding-left: 5px;
        }

        .link:hover {
            background-color: #e5f1ff;
            border-radius: 6px;
        }

        .hero_section .box2 {
            height: 100%;
            width: 67%;
            position: relative;
        }


        .box0 {
            height: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            position: relative;
            left: 5px;
        }

        .box3 {
            width: 100%;
            height: 9.3rem;
            background-color: #E3F0FF;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 6px;
            /* border: 2px solid red; */

        }

        .box4 {
            width: 100%;
            height: 6.2rem;
            color: #FFFFFF;
            border-radius: 6px;
            display: block;
        }

        .hero_section .box2 .text {
            font-size: 28px;
            font-weight: 400;
            width: 17rem;
            height: 4.5rem;
            position: relative;
            /* top: 53px;
                            left: 45px */
            top: 70px;
            left: 45px
        }

        .link_btn {
            top: 20px;
            left: 45px
        }

        .offer_section {
            width: 90%;
            height: 15rem;
            background-color: #FFFFFF;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
        }

        .offer_section .box1 {
            width: 28%;
            height: 100%;
            padding: 50px 0px 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            border-bottom: 1px solid #DEE2E7;
        }

        .offer_section .offerone {
            font-size: 16px;
            font-weight: 600;
            color: #1C1C1C;

        }

        .offer_section .offertwo {
            color: #8B96A5;
            position: relative;
        }

        #timer {
            width: 198px;
            height: 50px;
            left: 0;
            top: 0;
        }

        .offer_section .box2 {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        .Items {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;

        }

        .Items .box1 {
            width: 25%;
            height: 100%;
            background-image: url("public/images/image 92.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .home {
            width: 100px;
            font-size: 20px;
            font-weight: 600;
            color: #1C1C1C;
            margin-top: 10px;
            position: relative;
        }

        .Items .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 18px
        }

        .Items .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            left: 0;
            overflow: unset;
        }

        .Items .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .Items2 {
            width: 90%;
            height: 257px;
            margin: 20px auto;
            display: flex;
        }

        .Items2 .box1 {
            width: 25%;
            height: 100%;
            padding: 20px 0px 0px 20px;
            background-image: url("public/images/image 98.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .Items2 .box1 .btn {
            text-decoration: none;
            position: relative;
            top: 20px;
        }

        .Items2 .data {
            height: 100%;
            width: 50%;
            position: relative;
            top: 0;
            overflow: unset;
        }

        .Items2 .data .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 40px 0px 0px;
            display: block;
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 40px 0px 0px;
            display: block;
        }

        .supplier {
            width: 90%;
            height: 410px;
        }

        .supplier .left {
            width: 40%;
            font-size: 32px;
            margin: 40px 0px 0px 40px;
        }

        .supplier .left .L_span {

            font-size: 14px;
            font-weight: 400;
        }

        .right {
            width: 30.6rem;
            height: 21.6rem;
            background-color: #ffffff;
            margin: 30px 10px 0px 0px;
            display: block;
        }

        .Recomendation {
            width: 90%;
            height: 696px;
            margin: 30px auto 0px;
        }

        .Recomendation .item_grid {
            height: 300px;
            margin-top: 24px;
            overflow: unset;
        }

        .Recomendation .item_grid .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding: 10px 0px 0px 0px;
            gap: 10px 10px;
            list-style-type: none;
            box-sizing: border-box;
        }

        .Recomendation .item_grid .grid .grid_container {
            width: 100%;
            height: 310px;
            border: 1px solid #DEE2E7;
            position: relative;
            left: 0;
        }

        .Recomendation .item_grid .grid .grid_container .imgBox {
            height: 70%;
            width: 100%;
        }

        .services {
            width: 90%;
            height: 17rem;
            display: block;
        }

        .services .box {
            height: 210px;
            width: 100%;
            margin-top: 24px;
            overflow: hidden;
        }

        .services .box .flex {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%
        }

        .services .box .flex .container {
            height: 212px;
            width: 100%;
        }

        .suppliers {
            height: 8.6rem;
            width: 90%;
            margin: 0px auto;
            display: block;
            overflow: hidden;

        }

        .suppliers .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            list-style-type: none;
            gap: 15px 35px;
            margin: 10px 0px 0px 0px;
        }

        .suppliers .grid .container {
            width: 221px;
            height: 36px;
            display: flex;
            align-items: center;
            gap: 20px
        }
    }