header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
    padding: 10px 0px 0px 0px;
}

.left {
    position: relative;
    left: 1.5rem
}

.left .header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.left .header-logo .logo {
    height: 30px;
}

.left .header-logo .brand-text {
    position: relative;
    height: 20px;
}

.center {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    bottom: 10px;
    left: 23px;
}

#search-inp {
    height: 30px;
    width: 60%;
    padding: 0px 0px 0px 5px;
    border: 2px solid #0D6EFD;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#category {
    height: 30px;
    width: 25%;
    font-size: 10px;
    font-weight: 400;
    border: 2px solid #0D6EFD;
    border-left: none;
    outline: none;
}

.search-btn {
    height: 30px;
    width: 55px;
    background: linear-gradient(#0D6EFD, #0D6EFD);
    color: #fff;
    border: 2px solid #0D6EFD;
    font-size: 14px;
    font-weight: 500;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    right: 1.5rem;
}

.right .link {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    color: #8B96A5;
    text-decoration: none;
}

.right .link .icon {
    width: 15px;
    height: 15px;
    color: #8B96A5
}

.right .link .header-text {
    font-size: 12px;
    font-weight: 400
}

nav {
    background-color: #fff;
    height: 56px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    border-top: 2px solid #8b96a52a;
    border-bottom: 2px solid #8b96a52a;
}

.nav-left {
    width: 70%;
}

.list1 {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#hamburger {
    height: 16px;
    width: 20px;
    /* margin-right: 15px; */
}

.nav-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.nav-Right {
    position: relative;
}

.nav-Right .list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.icon {
    /* margin: 0 10px; */
}

footer {
    height: 324px;
    width: 100%;
    background-color: #fff;
    font-size: 12px;

}

.up {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 256px;
    width: 100%;
    margin: 0px auto;
}

.up .box {
    width: 100%;
}

.up .box1 {
    width: 276px;
    height: 157px;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    left: 1.5rem
}

.imgs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 20px 0px;
}

.up .text {
    width: 80%;
    margin-bottom: 20px;
}

.up .logos {
    display: flex;
    align-items: center;
    gap: 6px;
}

.social {
    height: 20px;
    width: 20px;
    background-color: #8B96A5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.up .box2 {
    width: 81px;
    height: 137px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    display: none;
}

h4 {
    margin-bottom: 10px;
}

.up .box3 {
    width: 90px;
    height: 137px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    display: none;
}

.up .box4 {
    width: 120px;
    height: 137px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.up .box5 {
    width: 108px;
    height: 137px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.up .box6 {
    width: 124px;
    height: 129px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    position: relative;
    right: 1.5rem
}

.up .link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.down {
    height: 68px;
    background-color: #DEE2E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down .state {
    display: flex;
    position: relative;
    right: 1.5rem;
    gap: 2px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.copy-right {
    position: relative;
    left: 1.5rem;
    font-size: 12px;
}

#text {
    position: relative;
    top: -3px
}

.container {
    width: 100%;
    height: 190px;
    border: 1px solid transparent;
    background-color: #DEE2E7;
}

.container .box {
    width: 617px;
    height: 113px;
    margin: 38px auto;
}

.container .email {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (min-width:768px) and (max-width: 1023.98px) {
    header {
        height: 86px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .center {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        right: 1.5rem;
    }

    #category {
        height: 30px;
        width: 25%;

    }

    .search-btn {
        height: 30px;
        width: 3.5rem;
    }

    .right .link .icon {
        width: 20px;
        height: 20px;
        color: #8B96A5
    }

    nav {
        display: flex;
        font-size: 12px;
    }

    .nav-left {
        width: 70%;
        position: relative;
        left: 1.5rem;
    }

    .list1 {
        gap: 10px;
        position: relative;
        left: 0px;
    }

    #hamburger {
        height: 12px;
        width: 20px;
        margin-right: 10px;
    }

    .icon {
        margin: 0 5px;
    }

    .nav-Right {
        position: relative;
        right: 1.5rem;
    }

    .nav-Right .list2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
    }

    .up {
        gap: 40px;
    }

    .up .text {
        width: 90%;
        margin-bottom: 20px;
    }

    .up .box .link {
        font-size: 12px;
    }

    .up .box2 {
        display: flex;
    }

    .up .box3 {
        display: flex;
    }

    .up .box4 {
        display: flex;
    }
}

@media (min-width:1024px) and (max-width: 1279.98px) {
    header {
        height: 86px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .left .header-logo .logo {
        height: 44px;
    }

    .left .header-logo .brand-text {
        position: relative;
        height: 21px;
    }

    .center {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    .left {
        position: relative;
        left: 3.5rem
    }

    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        right: 3.5rem;
    }

    .right .link .icon {
        width: 20px;
        height: 20px;
        color: #8B96A5
    }

    nav {
        display: flex;
        font-size: 12px;
    }

    .nav-left {
        width: 70%;
        position: relative;
        left: 3.5rem;
    }

    .list1 {
        gap: 15px;
        position: relative;
        left: 0px;
    }

    #hamburger {
        height: 12px;
        width: 20px;
        margin-right: 10px;
    }

    .icon {
        margin: 0 8px;
    }

    .nav-Right {
        position: relative;
        right: 3.5rem;
    }

    .nav-Right .list2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
    }

    .up {
        gap: 30px;
    }

    .up .text {
        width: 90%;
        margin-bottom: 20px;
    }

    .up .box .link {
        font-size: 12px;
    }

    .up .box1 {
        left: 3.5rem
    }

    .up .box2 {
        display: flex;
        left: 3.5rem
    }

    .up .box3 {
        display: flex;
        left: 3.5rem
    }

    .up .box4 {
        display: flex;
        left: 3.5rem
    }

    .up .box5 {
        display: flex;
        left: 2.5rem
    }

    .up .box6 {
        right: 0;
        left: 1rem
    }

    .down .state {
        right: 3.5rem;
    }

    .copy-right {
        left: 3.5rem;
    }
}

@media (min-width:1280px) and (max-width: 1439.98px) {
    header {
        height: 86px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .left .header-logo .logo {
        height: 44px;
    }

    .left .header-logo .brand-text {
        position: relative;
        height: 21px;
    }

    .center {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    #search-inp {
        width: 70%;
    }

    #category {
        width: 20%;
        font-size: 1rem;
    }

    .search-btn {
        height: 30px;
        width: 5rem;
        font-size: 1rem;
    }

    .left {
        position: relative;
        left: 5rem
    }

    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        right: 5rem;
    }

    .right .link .icon {
        width: 20px;
        height: 20px;
        color: #8B96A5
    }

    nav {
        display: flex;
        font-size: 16px;
    }

    .nav-left {
        width: 70%;
        position: relative;
        left: 5rem;
    }

    .list1 {
        gap: 25px;
        position: relative;
        left: 0px;
    }

    #hamburger {
        height: 12px;
        width: 20px;
        margin-right: 10px;
    }

    .icon {
        margin: 0 10px;
    }

    .nav-Right {
        position: relative;
        right: 5rem;
    }

    .nav-Right .list2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 25px;
    }

    footer {
        font-size: 16px
    }

    .up {
        gap: 90px;
        width: 90%;
    }

    .social {
        height: 32px;
        width: 32px;
    }

    .up .text {
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .up .box .link {
        font-size: 16px;
    }

    .up .box1 {
        left: 1rem
    }

    .up .box2 {
        display: flex;
        left: 1rem
    }

    .up .box3 {
        display: flex;
        left: 1rem
    }

    .up .box4 {
        display: flex;
        left: 1rem
    }

    .up .box5 {
        display: flex;
        left: 0;
    }

    .up .box6 {
        right: 0;
        right: 2rem
    }

    .down .state {
        right: 5rem;
    }

    .copy-right {
        left: 5rem;
    }
}

@media (min-width:1440px) and (max-width:1479.98px) {
    header {
        height: 86px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .left .header-logo .logo {
        height: 44px;
    }

    .left .header-logo .brand-text {
        position: relative;
        height: 21px;
    }

    .center {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    #search-inp {
        width: 70%;
    }

    #category {
        width: 20%;
        font-size: 1rem;
    }

    .search-btn {
        height: 30px;
        width: 6rem;
        font-size: 1rem;
    }

    .left {
        position: relative;
        left: 5rem
    }

    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        right: 5rem;
    }

    .right .link .icon {
        width: 20px;
        height: 20px;
        color: #8B96A5
    }

    nav {
        display: flex;
        font-size: 16px;
    }

    .nav-left {
        width: 70%;
        position: relative;
        left: 5rem;
    }

    .list1 {
        gap: 40px;
        position: relative;
        left: 0px;
    }

    #hamburger {
        height: 12px;
        width: 20px;
        margin-right: 10px;
    }

    .icon {
        margin: 0 10px;
    }

    .nav-Right {
        position: relative;
        right: 5rem;
    }

    .nav-Right .list2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 30px;
    }

    footer {
        font-size: 16px
    }

    .up {
        position: relative;
        gap: 90px;
        width: 90%;
    }

    .social {
        height: 32px;
        width: 32px;
    }

    .up .text {
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .up .box .link {
        font-size: 16px;
    }

    .up .box1 {
        width: 100%;
        left: 0;
    }


    .up .box2 {
        display: flex;
    }

    .up .box3 {
        display: flex;
    }

    .up .box4 {
        display: flex;
        left: 1rem;
    }

    .up .box5 {
        display: flex;
        left: 1rem;
    }

    .up .box6 {
        right: 0;
    }

    .down .state {
        right: 5rem;
    }

    .copy-right {
        left: 5rem;
    }
}

@media (min-width:1480px) and (min-width:1536px) {
    header {
        height: 86px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .left .header-logo .logo {
        height: 44px;
    }

    .left .header-logo .brand-text {
        position: relative;
        height: 21px;
    }

    .center {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    #search-inp {
        width: 70%;
    }

    #category {
        width: 20%;
        font-size: 1rem;
    }

    .search-btn {
        height: 30px;
        width: 6rem;
        font-size: 1rem;
    }

    .left {
        position: relative;
        left: 5rem
    }

    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        right: 5rem;
    }

    .right .link .icon {
        width: 20px;
        height: 20px;
        color: #8B96A5
    }

    nav {
        display: flex;
        font-size: 16px;
    }

    .nav-left {
        width: 70%;
        position: relative;
        left: 5rem;
    }

    .list1 {
        gap: 40px;
        position: relative;
        left: 0px;
    }

    #hamburger {
        height: 12px;
        width: 20px;
        margin-right: 10px;
    }

    .icon {
        margin: 0 10px;
    }

    .nav-Right {
        position: relative;
        right: 5rem;
    }

    .nav-Right .list2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 30px;
    }

    footer {
        font-size: 16px
    }

    .up {
        width: 90%;
        position: relative;
        left: 0;
        gap: 120px;
    }

    .social {
        height: 32px;
        width: 32px;
    }

    .up .text {
        width: 120%;
        font-size: 16px;
        margin-bottom: 20px
    }

    .up .box .link {
        font-size: 16px;
    }

    .up .box1 {
        left: 0
    }

    .up .box2 {
        display: flex;
    }

    .up .box3 {
        display: flex;
    }

    .up .box4 {
        display: flex;
        left: 1rem;
    }

    .up .box5 {
        display: flex;
        left: 1rem;
    }

    .up .box6 {
        right: 1rem;
    }

    .down .state {
        right: 5rem;
    }

    .copy-right {
        left: 5rem;
    }
}